.ant-menu-item:hover::after {
  border-bottom: none !important;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
}

.header-menu-link {
  &:hover {
    color: white !important;
  }
}

.network-containers {
  margin: 10px 0;

  .network-box {
    height: 100px;
    margin: 2px 0;
    width: 110px;
    display: flex;
    font-weight: bold;
    font-style: italic;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    cursor: pointer;
    transition: 0.2s linear;

    &.selected {
      border: 2px solid rgb(95, 192, 204);
      box-shadow: 2px 1px 4px #ccc;
    }
  }

  .network-box:hover {
    transition: 0.2s linear;
    transform: translateY(-0.4em);
  }
}

.active-network-section {
  animation-name: comeIn;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  @keyframes comeIn {
    0% {
      transform: translateY(5rem);
    }

    100% {
      transform: translateY(0);
    }
  }
}
